<% if @model == 'user' %>
  <h3>Users searchs for"<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% else @model == 'book' %>
  <h3>Books searchs for"<%= @content %>"</h3>
    <%= render 'books/index', books: @records %>
<% end %>